
<%- include ./partials/header.ejs %>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles/navBar.css">
<link rel="stylesheet" type="text/css" href="styles/footer.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	 <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<style type="text/css">
		*{
			box-sizing: border-box;
			padding: 0px;
			margin: 0px;
		}
		#myNavBar{
	font-size: 18px;
}
		.table-box{
			margin: 50px auto;
			
		}
		.table-row{
			width: 80%;
			margin: 10px auto;
			display: table;
			padding: 12px auto;
			box-shadow: 0px 3px 5px 0px #7BA3E0;
		}
		.table-cell{
			display: table-cell;
			width: 14.28%;
			text-align: center;
			padding: 4px 0;
			border-right: 1px solid #d6d4d4;
			vertical-align: baseline;
		}
		.table-head{
			font-weight: 750;
			box-shadow: none;
			background-color: #8665f7;
			color: #fff;

		}
		.table-head>.table-cell{
        border-right: none;
		}
		.table-row>.table-cell:nth-of-type(1){
			
			padding-left: 10px;
		}
		.table-cell>p>img{
	max-width: 40px;
	width: 40px;
	height: 33px;
	margin: 0 auto 5px;
	display: block;
		}
		.table-cell>button{
			vertical-align: baseline;
		}
		div.search-box{
			margin: 50px auto;
		}
		h3{
			text-align: center;
			color: blue;
		}

	</style>
	<nav id="myNavBar"class="navbar navbar-expand-lg navbar-dark">
  <div class="navbar-brand"><a href="/" id="brandPlane" class="fa fa-plane"><span style="color:rgb(0, 123, 255);">SkyTek</span></a></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
    	 <ul class="navbar-nav ml-auto">
    	 	<li><a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a></li>
      
      <li><a class="nav-item nav-link" href="login">Login</a></li>
      <li><a class="nav-item nav-link" href="#">Check Flights</a></li>
      <li><a class="nav-item nav-link" href="#">Ticket Reservation</a></li>
      </ul>
    
  </div>
</nav>  
<h3><a href="/">Search again</a></h3>

<div class="table-box">
	<div class="table-row table-head">
		<div class="table-cell">
			<p>Airline</p>
		</div>
		<div class="table-cell">
			<p>Flight NO</p>
		</div>
			<div class="table-cell">
			<p>Departure</p>
		</div>
			<div class="table-cell">
			<p>Arrival </p>
		</div>
	    <div class="table-cell">
			<p>Duration</p>
		</div>
		<div class="table-cell">
			<p>Price</p>
		</div>
		<div class="table-cell">
			<p>Selection</p>
		</div>
	</div>

	
	<% for(i=0;i<ssData.length;i++) { %>
		 <div class="table-row"> 
		 <div class="table-cell"> 
			<p><img src="../public/assets/airlines/AC.png"></p> 
			 <p>Air canada</p> 
			 </div> 
			 <div class="table-cell"> 
					<p> <%= ssData[i].flightNo %> </p> 
				 </div> 
					<div class="table-cell"> 
						<p><%= ssData[i].departure %></p> 
					 </div> 
						<div class="table-cell"> 
							<p> <%= ssData[i].arrival %> </p> 
						 </div> 
						 <div class="table-cell"> 
								<p> <%= ssData[i].duration %> </p> 
							 </div> 
							 <div class="table-cell"> 
								 <p> <%= ssData[i].price %> </p> 
			
								 </div> 
								 <div class="table-cell"> 
									 <button class="btn btn-danger">Select</button> 
			
									 </div>	
		
									 </div> 
									 <% } %>
									
</div>

<%- include ./partials/footer.ejs %>